div {
    width:50%;
    height:50%;
    display:grid;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
}
.fusion_img{
    grid-column:2;
    width:50%;
    border:10px;
    border-color:lightblue;
}
.fusion_name{
    text-align:center;
    grid-column: 2;
    width:50%;
}

buttons{
    display:block;
    grid-column: 2;
    width:50%;
    height:50%;
}
button{
    width:48%;
}
